.root {
  padding: 50px;
}

.title {
  font-size: 80px;
  color: black;
  font-weight: bold;
  padding-bottom: 20px;
}

.idPart {
  padding-right: 80px;
}

.nutsHierarchyId {
  padding-left: 10px;
  padding: 10px;
  border-bottom: 1px red solid;
  border-left: 1px red solid;
  border-right: 1px red solid;
}

.nutsHierarchyLabel {
  text-align: right;
}
