.title {
  font-size: 80px;
  color: black;
  font-weight: bold;
  padding-bottom: 100px;
}

.idPart {
  margin: 30px;
  border-bottom: 2px red solid;
  padding: 20px;
  margin-bottom: 40px;
}

.nutsHierarchy {
  margin-bottom: 40px;
}
