@import 'lib/styles/mui-theme.scss';

.root {
  padding: $spacing-4;
}

.title {
  font-size: $typography-h1-fontSize;
  color: black;
  font-weight: bold;
}

.idPart {
  padding-right: $spacing-10;
}

.nutsHierarchyId {
  padding: $spacing-1;
  border-bottom: 1px red solid;
  border-left: 1px red solid;
  border-right: 1px red solid;
  color: red;
}

.nutsHierarchyLabel {
  text-align: right;
}
